<div <%%= tag.attributes(**root_attrs("rounded-md border border-border bg-background p-4 text-foreground"<% if options[:client] %>, data: { controller: "<%= stimulus_identifier %>" }<% end %>)) %>>
  <%%= content %>
</div>
